* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(240, 78%, 98%);
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, right top;
    min-height: 100vh;
}

/* Pricing section  */

.pricing_section {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing_heading {
    font-size: 30px;
    font-weight: 600;
    color: hsl(233, 13%, 49%);
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.pricing_toggle {
    font-size: 18px;
    font-weight: normal;
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
    padding: 30px;
}

.pricing_plans {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 31%; */
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    padding: 30px;
    margin: 10px;
}

.plan_heading {
    padding: 8px 1rem;
    margin-top: 2.5rem;
    color: hsl(233, 13%, 49%);
    font-size: 20px;
}

.plan_price {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(232, 13%, 33%);
}

.price {
    font-size: 4em;
    font-weight: normal;
}

.dollar {
    font-size: 25px;
    font-weight: normal;
}

.plan_features {
    list-style: none;
    line-height: 1.7;
    letter-spacing: 1px;
    color: hsl(234, 14%, 74%);
    margin: 30px;
    border-top: 1px solid hsl(234, 14%, 74%);
    width: 100%;

}

li {
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 10px;
    text-align: center;
}

.plan button {
    background-image: linear-gradient(to right,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
    width: 100%;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.professional {
    background-image: linear-gradient(to right,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
    color: #fff;
    transform: scale(1.15);

}

.professional button {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

.professional .dollar {
    color: #fff;
}

.professional .price {
    color: #fff;
}

.professional .plan_features {
    color: #fff;
}

.professional .plan_heading {
    color: #fff;
}

.professional .plan_features {
    border-color: #fff;
}

.professional li {
    border-color: #fff;
}

.yearly {
    display: none;
}

.show-monthly .yearly {
    display: block;
}

.show-monthly .monthly {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(237, 63%, 64%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(237, 63%, 64%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 930px) {
    .flex {
        flex-direction: column;
    }

    .professional {
        transform: scale(1);
    }
}